footer {
  background: $background-footer;
  color: white;
  padding: 25px 0 35px 25px;

  .footer__logo {
    font-family: "Shrikhand", sans-serif;
  }
  a:visited,
  a:link {
    color: white;
  }
  i {
    margin-right: 12px;
    font-size: 15px;
    width: 15px;
  }
}
