@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__logo {
  font-family: "Shrikhand", sans-serif;
}

footer {
  background: #353535;
  color: white;
  padding: 25px 0 35px 25px;
}
footer .footer__logo {
  font-family: "Shrikhand", sans-serif;
}
footer a:visited,
footer a:link {
  color: white;
}
footer i {
  margin-right: 12px;
  font-size: 15px;
  width: 15px;
}

.location {
  background: #eaeaea;
  color: #353535;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location i {
  margin-right: 1rem;
}

.discover {
  background: #f6f6f6;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0;
}
.discover h1 {
  padding: 0 50px;
}
.discover p {
  padding: 20px 35px;
  color: #353535;
}
.discover__button {
  background: linear-gradient(#9356dc, #ff79da);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 12px 18px;
  text-align: center;
}
.discover__button:hover {
  color: white;
}
.discover__button:visited {
  color: white;
}

.tutorial {
  padding: 25px 20px;
}
.tutorial__list {
  list-style: none;
  counter-reset: compteListe;
}
.tutorial__element {
  padding: 20px;
  margin: 15px 0 15px 15px;
  border-radius: 20px;
  background: #f6f6f6;
  display: flex;
  align-items: center;
}
.tutorial__element::before {
  counter-increment: compteListe;
  content: counter(compteListe) " ";
  height: 24px;
  width: 24px;
  background: #9356dc;
  border-radius: 100px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: white;
  left: 25px;
}
.tutorial__icon {
  margin: 0 26px 0 8px;
  color: #7e7e7e;
}

.restaurant {
  display: flex;
  flex-flow: column nowrap;
  background: #f6f6f6;
  padding: 40px 20px;
}
.restaurant .card {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 250px;
  width: 100%;
  background: white;
  border-radius: 20px;
  margin-bottom: 20px;
}
.restaurant .card img {
  width: 100%;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurant .card__content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 13px;
}
.restaurant h1 {
  margin-bottom: 20px;
}

.new {
  background: #99e2d0;
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 10px;
  color: #1b6150;
  border-radius: 5px;
}

.icon__back:hover {
  background: linear-gradient(#9356dc, #ff79da);
}

.card__icon {
  font-size: 2rem;
}
.card__icon:hover {
  font-weight: bold;
  mix-blend-mode: lighten;
  background: white;
}

.restaurant__background {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  max-height: 300px;
}

.menu {
  max-width: 100%;
  overflow: hidden;
}
.menu__title {
  position: relative;
}
.menu__title::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
