:root {
  --background-primary: #f6f6f6;
  --background-footer: #353535;
  --background-location: #eaeaea;
  --primary-location: #353535;
  --primary: #9356dc;
  --primary-icon: #7e7e7e;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
}
