.location {
  background: $background-location;
  color: $primary-location;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    margin-right: 1rem;
  }
}

.discover {
  background: $background-primary;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  h1 {
    padding: 0 50px;
  }
  p {
    padding: 20px 35px;
    color: $primary-location;
  }
  &__button {
    @include btn;
  }
}

.tutorial {
  padding: 25px 20px;
  @media only screen and (min-width: 768px) {
    max-width: 900px;
    margin: auto;
    &__list {
      display: flex;
      flex-flow: row wrap;
    }
  }
  &__list {
    list-style: none;
    counter-reset: compteListe;
  }

  &__element {
    padding: 20px;
    margin: 15px 0 15px 15px;
    border-radius: 20px;
    background: $background-primary;
    display: flex;
    align-items: center;
    position: relative;
    @media only screen and (min-width: 800px) {
      flex-grow: 1;
      margin-right: 15px;
    }
    &::before {
      counter-increment: compteListe;
      content: counter(compteListe) " ";
      height: 24px;
      width: 24px;
      background: $primary;
      border-radius: 100px;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      color: white;
      left: -12px;
    }
  }
}

.restaurant {
  @media only screen and (min-width: 768px) {
    max-width: 900px;
    margin: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  &__card {
    @media only screen and (min-width: 768px) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
  .card {
    @media only screen and (min-width: 768px) {
      max-width: 350px;
    }
    @media only screen and (min-width: 850px) {
      max-width: 400px;
    }
    @include card;
    &__icon {
      @include heart;
    }
  }

  display: flex;
  flex-flow: column nowrap;
  background: $background-primary;
  padding: 40px 20px;
  h1 {
    margin-bottom: 20px;
  }
}

.new {
  @include badge;
}
