.restaurant__background {
  @media only screen and (min-width: 800px) {
    max-height: 750px;
    &__wrapper {
      position: relative;
      &::after {
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 80%,
          rgba(255, 255, 255, 1) 100%
        );
      }
    }
  }
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  max-height: 300px;
}

.menu {
  max-width: 100%;
  overflow: hidden;
  padding: 0px 20px;
  &__title {
    position: relative;
    margin: 15px 0;
    &::after {
      content: "";
      width: 30px;
      height: 3px;
      background: $ligne;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__card {
    display: flex;
    background: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    margin-bottom: 15px;
    animation: menu__card__loader 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;

    &:hover &__confirmation {
      margin-right: -11px;
    }
    &:hover &__confirmation__icon {
      transform: rotate(0);
    }
    &__description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
    }
    &__price {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-right: 10px;
      font-weight: bold;
      padding-left: 7px;
    }
    &__confirmation {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 20px;
      width: 60px;
      background: $ligne;
      margin: -11px -71px -11px -0px;
      transition-duration: 0.5s;
      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 100px;
        height: 25px;
        width: 25px;
        color: $ligne;
        transform: rotate(180deg);
        transition-duration: 0.5s;
      }
    }
  }
}

.carte {
  @media only screen and (min-width: 800px) {
    max-width: 900px;
    margin: auto;
    margin-top: -450px;
  }
  background: $background-primary;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  margin-top: -80px;
  z-index: 1;
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 10px 20px;
  }
  &__icon {
    @include heart;
    & i:hover {
      background: $background-primary;
    }
  }
  &__commander {
    display: flex;
    justify-content: center;
    &__button {
      @include btn;
      margin: 10px 0 20px 0;
    }
  }
}

@for $i from 1 through 9 {
  .animation-#{$i} {
    animation-delay: #{$i / 10}s;
  }
}
